[
    {lager, [
        {log_root, "log"},
        {handlers, [
            {lager_console_backend, [
                debug,
                {stout, [
                    {date, blackb}, " ",
                    {time, yellow}, " ",
                    {severity, [upper, {format, "~.7s"}, color, {format, "~s "}]},
                    {'$metadata', [], [node, application, line]}, " ",
                    message, "\n"
                ]}
            ]},
            {lager_file_backend, [
                {level, debug},
                {file, "log/debug.log"},
                {formatter, stout},
                {formatter_config, [
                    {date, blackb}, " ",
                    {time, yellow}, " ",
                    {severity, [upper, {format, "~.7s"}, color, {format, "~s "}]},
                    {'$metadata', [], [node, application, line]}, " ",
                    message, "\n"
                ]}
            ]}
        ]}
    ]}
].
